html {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	background-image: url("../img/concert.jpg");
	background-repeat: no-repeat;	
	background-size: cover;
}

.container {
	position: absolute;
	top: 40%;
	left: 5%;
	width: 90%;
	box-sizing: content-box;
	
}

.keys {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.key {
	width: 150px;
	height: 150px;
	border: 5px solid black;
}

.playing {
	transform: scale(1.1);
	border: 5px solid gold;
	color: gold;
	transition: 0.1s;
}

.letter {
	width: 80%;
	height: 70%;
	margin: 0 auto;
	font-size: 90px;
	text-align: center;
}

.sound {
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 30%;
	font-size: 30px;
	font-weight: bold;
}